@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
  background-color: white;
  color: black;
  font-family: 'BodyFont', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HeadingFont', sans;
}

 

html {
  scroll-behavior: smooth;
}
html, body {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

html.dark, html.dark body {
  background-color: black;
  color: white;
}



/*hello*/
